{% extends "page.html" %}

{% block content %}

<h2 class="mb-4">Agendamentos</h2>

<div class="row mb-4">

    {% for evento in eventos %}

    <div class="col-sm-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ evento.titulo }}</h5>
                <p class="card-text">{{ evento.descrição }}</p>
                <p class="card-text"><small class="text-muted">{{ evento.get_data_evento }}</small></p>
                <p class="card-text"><small class="text-muted">Data da criação do evento {{ evento.hora_criacao }}</small></p>
                <a href="evento/?id={{ evento.id }}" class="btn btn-primary">Editar</a>
                <a href="evento/delete/{{ evento.id }}/" class="btn btn-danger">Excluir</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}