{% extends "page.html" %}

{% block content %}

<h2 class="mb-4">Evento</h2>
<!--
<form action="submit" method="POST"> {% csrf_token %}
    <label for="">Titulo</label><br>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden="true">
    <input type="textContent" name="titulo" value="{{ evento.titulo }}" size="24"><br>
    <label for="">Data do Evento:</label><br>
    <input type="date" name="data_evento" value="{{ evento.get_data_input_evento }}"><br>
    <label for="">Descrição: </label><br>
    <textarea name="descrição" id="" cols="26" rows="5">{{ evento.descrição }}</textarea><br>
    <button type="submit">Salvar</button>
    <a href="/"><button type="button">Cancelar</button></a>
</form>
-->
<form class="col-sm-6" action="submit" method="POST"> {% csrf_token %}

    <div class="mb-3">
        <input type="number" name="id_evento" value="{{ evento.id }}" hidden="true">

        <label for="formGroupExampleInput" class="form-label">Titulo</label>
        <input type="textContent" name="titulo" value="{{ evento.titulo }}" class="form-control" id="formGroupExampleInput" placeholder="">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Data evento</label><br>
        <input type="date" name="data_evento" value="{{ evento.get_data_input_evento }} class="form-control" id="formGroupExampleInput2" placeholder="">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Descrição</label>
        <textarea type="textarea" name="descrição" rows="5"  class="form-control" placeholder="Leave a comment here" id="floatingTextarea">{{ evento.descrição }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/" class="btn btn-danger">Cancelar</a>
</form>

{% endblock %}